name: Build C Executable (aarch64)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install cross-compilation tools
      run: sudo apt-get update && sudo apt-get install -y build-essential gcc-x86-64-linux-gnu # gcc-aarch64-linux-gnu

    - name: Compile C program for Raspberry Pi (64-bit)
      run: |
        x86_64-linux-gnu-gcc -o hello_x86 Artefact/*.c 
      # aarch64-linux-gnu-gcc -o hello_arm64 Artefact/*.c

    - name: Upload executable as artifact
      uses: actions/upload-artifact@v4
      with:
        name: hello_arm64
        path: hello_arm64
